[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=ShairportQt
Comment=AirPlay Receiver
Icon=/usr/share/icons/hicolor/256x256/apps/org.shairport.ShairportQt.png
Exec=/usr/bin/ShairportQt
Terminal=false
Categories=AudioVideo;Player;
